@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    border: 1px solid gray
} */

.fix-min-h-screen {
    min-height: 100vh;
}

.fix-min-h-screen {
    min-height: 100svh;
}

.navbar-full {
    min-height: 100lvh;
}

.primary-gradient {
    background: linear-gradient(270deg, #6C63FF -3.81%, #605D94 108.89%);
}

